<div>
  <h1>Cadastrar - Agendamento de Potenciais Clientes</h1>
  <h5>Sistema utilizado para agendamento de serviços.</h5>
  <div class="table-responsive-sm">
    <table class="table table-responsive table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Origem</th>
          <th>Data de Contato</th>
          <th>Observação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
          <tr>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{origem}}</td>
            <td>{{data_contato}}</td>
            <td>{{observacao}}</td>
            <td>
              <a href="/atualizar/{{id}}" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPessoa-{{id}}">
									Excluir
								</button>
            </td>
          </tr>
          <div class="modal fade" id="modalPessoa-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">
											<i class="material-icons iconsLeft">report_problem</i>
											Atenção!
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Deseja excluir: {{nome}}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">
											<i class="material-icons iconsLeft">close</i>
											Não
										</button>
										<a href="/deletar/{{id}}" type="button" class="btn btn-success">
											<i class="material-icons iconsLeft">check</i>
											Sim
										</a>
									</div>
								</div>
							</div>
						</div>
        {{else}}
           <h4 class="mt-2">Nenhuma cadastro encontrado!</h4>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>